body, * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.btns {
  margin: auto;
  text-align: center;
  margin-top: 6px;
}

.authbtn1 {
  margin-bottom: 5px;
}

.authform {
  text-align: center;
}

.login, .signup {
  display: inline-block;  
  padding: 20px; 
}

.auth {
  text-align: center;
  padding: 40px; 
}

.fb, .g  {
  margin-top: 30px;
}

.g a {
  text-decoration: none;
}
.headpolls a {
  text-decoration: none;
}